.pio/
.vscode/
build/
*.o
*.a
*.so
*.dylib
*.exe
*.swp
*.swo
*~
.DS_Store
Thumbs.db


# WiFi credentials (ESP32)
esp32/src/wifi_credentials.h


# KiCad (nur temporäre Dateien ignorieren)
Schaltung/*.kicad_prl
Schaltung/*.kicad_sch-bak
Schaltung/*.kicad_pcb-bak
Schaltung/*-backups/
Schaltung/*.bak
Schaltung/*.tmp
Schaltung/*.lck

# Plot / Fertigungsdaten (optional)
#Schaltung/*.gbr
#Schaltung/*.drl
#Schaltung/*.zip



# KiCad/Schaltungs-Backups
Schaltung/att_26/att-backups/
Schaltung/att_26/.history/

Schaltung/att_135/att-backups/
Schaltung/att_135/.history/


